@using Lang = DevF_LABS.Language.Presentation.Controllers.XssController

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main" onload="showHomePageModal()">

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="homePageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <img src="~/Content/img/logo.png" style="max-height:50px;max-width:50px;" />
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center"> DevF LABS'a Hoşgeldiniz </h5>
                    <p class="mt-3">
                        DevF LABS Microsoft firmasının geliştirmiş olduğu .Net Framework, ASP ve C# programlama dilleri ile
                        geliştirme yapan yazılım geliştiricileri baz alınarak geliştirilmiş bir güvenli yazılım geliştirme laboratuvardır.
                    </p>
                    <p class="mt-2">
                        Tamamen açık kaynak kodlu olup MIT lisansına sahiptir.Referans gösterilmesi halinde kopyalanıp çoğaltılmasında herhangi bir sakınca yoktur.
                    </p>
                    <p class="mt-2">
                        <i class="fa fa-bullhorn font-lg text-danger"></i> Lütfen uygulama içerisinde sizden istenen verilere günlük yaşantınızda kullandığınız verileri kullanmayınız!
                    </p>
                    <p class="mt-2">
                        Hatalı olduğunu düşündüğünüz durumlarda lütfen <a href="https://gitlab.com/bhdryrdm/devf" target="_blank"><i class="fa fa-gitlab font-lg"></i></a> üzerinden merge request gönderebilirsiniz.
                    </p>
                    <p class="mt-2">
                        Faydalı olması dileğiyle iyi çalışmalar dileriz.
                    </p>
                    <p class="pull-right font-weight-bold">
                        <img src="~/Content/img/favicon.png" style="max-height:35px;max-width:35px;" /> DevF LABS Ekibi
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="devfHomePageModal()" data-dismiss="modal">Bir Daha Gösterme</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">DevF</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" @*style="background:url('/Content/img/logo.png')"*@>
                        <div class="card-header">
                            <div class="progress progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="callout callout-dark">
                                                        <i class="icon h5">
                                                            <img style="max-height:23px;max-width:23px;" src="~/Content/img/owasplogo.png" />
                                                        </i>
                                                        <br>
                                                        <strong class="h4">14 %</strong>
                                                        <div class="chart-wrapper">
                                                            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="callout callout-red">
                                                        <i class="flag-icon flag-icon-tr h5" title="tr"></i>
                                                        <br>
                                                        <strong class="h4">100 %</strong>
                                                        <div class="chart-wrapper">
                                                            <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="callout callout-blue">
                                                        <i class="flag-icon flag-icon-gb h5" title="gb"></i>
                                                        <br>
                                                        <strong class="h4">35 %</strong>
                                                        <div class="chart-wrapper">
                                                            <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--/.row-->
                                    <hr class="mt-0">
                                    <style>
                                        .pl-240 {
                                            padding-left: 240px !important;
                                        }

                                        .bars-title {
                                            width: 240px !important;
                                        }
                                    </style>
                                    <ul class="horizontal-bars">
                                        <li>
                                            <div class="title bars-title">
                                                A1 - Injection
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A2 - Broken Authentication
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A3 - Sensitive Data Exposure
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A4 - XML External Entities (XXE)
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A5 - Broken Access Control
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A6 - Security Misconfiguration
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A7 - Cross-Site Scripting
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A8 - Insecure Deserialization
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A9 - Using Components Known ...
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title bars-title">
                                                A10 -Insufficient Logging&amp;Monitoring
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="title bars-title">
                                                A8 - Cross-Site Request Foregery
                                            </div>
                                            <div class="bars pl-240">
                                                <div class="progress progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Proje Geliştiricileri
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="icon-user"></i>Recep YAPICI
                                                    <div class="card-actions">
                                                        <img src="/Content/img/avatars/6.jpg" class="img-avatar">
                                                    </div>
                                                </div>
                                                <div class="card-body collapse show" id="collapseExample">
                                                    <ul class="horizontal-bars type-2">
                                                        <li class="text-center">
                                                            <a href="http://bhdryrdm.blogspot.com.tr"><i class="icon-globe"></i><span class="title">Blog</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="http://facebook.com/bhdryrdm"> <i class="icon-social-facebook"></i><span class="title">Facebook</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://twitter.com/bhdryrdm"><i class="icon-social-twitter"></i><span class="title">Twitter</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://www.linkedin.com/in/bhdryrdm"><i class="icon-social-linkedin"></i><span class="title">LinkedIn</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://github.com/bhdryrdm"><i class="icon-social-github"></i><span class="title">GitHub</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://gitlab.com/bhdryrdm"><i class="fa fa-gitlab"></i><span class="title">GitLab</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="icon-user"></i>Bahadır YARDIM > <a href="mailto:bhdryrdm@gmail.com">bhdryrdm@gmail.com</a>
                                                    <div class="card-actions">
                                                        <img src="/Content/img/avatars/9.jpg" class="img-avatar">
                                                    </div>
                                                </div>
                                                <div class="card-body collapse show" id="collapseExample">
                                                    <ul class="horizontal-bars type-2">
                                                        <li class="text-center">
                                                            <a href="http://bhdryrdm.blogspot.com.tr"><i class="icon-globe"></i><span class="title">Blog</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="http://facebook.com/bhdryrdm"> <i class="icon-social-facebook"></i><span class="title">Facebook</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://twitter.com/bhdryrdm"><i class="icon-social-twitter"></i><span class="title">Twitter</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://www.linkedin.com/in/bhdryrdm"><i class="icon-social-linkedin"></i><span class="title">LinkedIn</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://github.com/bhdryrdm"><i class="icon-social-github"></i><span class="title">GitHub</span></a>
                                                            <span class="mr-lg-4"></span>

                                                            <a href="https://gitlab.com/bhdryrdm"><i class="fa fa-gitlab"></i><span class="title">GitLab</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

