
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">XML External Entities</a></li>
        <li class="breadcrumb-item active">Index</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                @* Client Side Folder Structure *@
                <div class="col-md-2 mb-4">
                    <ul class="file-tree">
                        <li>
                            <a href="#">XML External Entities</a>
                            <ul>
                                <li>
                                    <a href="#">XML External Entities</a>
                                    <ul>
                                        <li> <a href="#xeeDescription" data-toggle="tab" onclick="activeTabFile('.xeeTab', '#insecuredeserialDescription', '.rootTab', '#xeeScenarios')">Nedir ?</a></li>
                                        <li> <a href="#xeeScenariosProtectionMethod" data-toggle="tab" onclick="activeTabFile('.xeeTab', '#xeeScenariosProtectionMethod', '.rootTab', '#xeeScenarios')">Korunma Yöntemleri</a></li>
                                    </ul>
                                </li>
                                <li><a href="#xeeSource" onclick="activeTabFile('.rootTab', '#xeeSource')" data-toggle="tab">Kaynaklar</a> </li>
                                <li><a href="#xeeFound" onclick="activeTabFile('.rootTab', '#xeeFound')" data-toggle="tab">Bulunan XML External Entities</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function activeTabFile(destinationTab, destinationTabContent, parentTab, parentTabContent, grandParent, grandParentContent) {

                            if (parentTab != '' && !$(parentTabContent).hasClass('active')) {
                                // Aktif olan parent tab ve contenti silinir
                                $(parentTab).removeClass('active');
                                $(parentTab + 'Content').removeClass('active');
                                //Aktif olması istenen parent tab ve contenti eklenir
                                $($('li').find('a[href$="' + parentTabContent + '"]')[0]).addClass('active');
                                $(parentTabContent).addClass('active');
                            }

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            //Aktif olması istenen tab ve content aktif edilir
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                    </script>
                </div>
                @* Client Side Content *@
                <div class="col-md-10" id="xeePart">
                    <ul class="nav nav-tabs bg-light" role="tablist">
                        <li class="nav-item"><a class="rootTab nav-link active" data-toggle="tab" href="#xeeScenarios" role="tab" aria-controls="xeePart">XML External Entities</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#xeeSource" role="tab" aria-controls="source">Kaynaklar</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#xeeFound" role="tab" aria-controls="found">Bulunan XML External Entities</a></li>
                    </ul>

                    <div class="tab-content" role="tabpanel">
                        <div class="tab-pane rootTabContent active" id="xeeScenarios">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs bg-light" role="tablist">
                                    <li class="nav-item"><a class="xeeTab nav-link active" data-toggle="tab" href="#xeeDescription" role="tab">Nedir ?</a></li>
                                    <li class="nav-item"><a class="xeeTab nav-link" data-toggle="tab" href="#xeeScenariosProtectionMethod" role="tab">Korunma Yöntemleri</a></li>
                                </ul>
                                <div class="tab-content">
                                    @* securitymisconfig Description *@
                                    <div class="tab-pane xeeTabContent active" id="xeeDescription">
                                        <p class="mt-2">Bu zafiyet ile saldırgan kullanıcıya zararlı yazılım bulunan bir XML dosyasını göndererek dosya okuma, dos saldırısı ve kod çalıştırma gibi işlemleri gerçekleştirebilir.</p>
                                        <p class="mt-2">Zafiyet, uygulama özellikle güvenilmeyen kaynaklardan XML'i ve XML yüklemelerini kabul ettiği zaman ortaya çıkabilir.</p>
                                    </div>
                                    @* Korunma Yöntemleri ? *@
                                    <div class="tab-pane xeeTabContent" id="xeeScenariosProtectionMethod">
                                        <b> Yapılması Gerekenler </b> <i class="fa fa-shield"></i>
                                        <ul style="font-size:12px;">
                                            <li class="mt-2"> Yapılacak olan saldırılardan korunmak için XML kütüphanelerinin güncel tutulması gerekir.</li>
                                            <li class="mt-2"> Sunucuda whitelisting kontrolü yapılmalıdır.</li>
                                            <li class="mt-2"> JSON gibi mümkün olduğunca fazla kompleks olmayan veri formatları kullanılmalıdır.</li>
                                            <li class="mt-2"> XML External Entities özelliğinin kapatılması gerekmektedir.</li>
                                        </ul>
                                        <b> Unutulmaması Gerekenler</b> <i class="fa fa-bullhorn"></i>
                                        <ul class="mt-2">
                                            <li> Xee saldırılarına karşı savunmasız olmak bir tür denial of service(dos) saldırısı olan Billion Laughs'a sebep olur.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Xee/_XeeSourceWebSites.cshtml")
                        @Html.Partial("~/Views/Xee/_FoundXee.cshtml")
                    </div>
                </div>
                @* Server Side Folder Structure *@
                <div class="col-md-2 mb-4 mt-5">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Server Code</a>
                            <ul>
                                <li>
                                    <a href="#">ASP.NET MVC</a>
                                    <ul>
                                        <li>
                                            <a href="#">Controllers</a>
                                            <ul>
                                                <li><a href="#baseController" onclick="serverSideTab('.serverSideTab','#baseController')" data-toggle="tab">BaseController</a> </li>
                                                <li><a href="#securitymisconfigController" onclick="serverSideTab('.serverSideTab','#securitymisconfigController')" data-toggle="tab">SecMisconfigController</a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active d-block');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideAllTabClose(destinationTabContent) {
                            $('#serverSide').css('display', 'none');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');
                        };

                        function closeTab(destinationTabContent) {
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).removeClass('active d-block');
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('d-none');
                        }
                    </script>
                </div>
                @* Server Side Github Gist Content *@
                <div class="col-md-10 mt-5" id="serverSide" style="display:none">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#baseController" role="tab">
                                    BaseController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#baseController')"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#securitymisconfigController" role="tab">
                                    securitymisconfigController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#securitymisconfigController')"></i>
                                </a>
                            </li>
                            <li class="nav-item pull-right"><button type="button" class="btn btn-dark" onclick="serverSideAllTabClose('.serverSideTab')"> <i class="icon-close"></i></button></li>
                        </ul>
                        <div class="tab-content" role="tabpanel">
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Controller/BaseController.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



