
<div class="tab-pane rootTabContent" id="injectionExample" role="tabpanel">
    <div class="card">
        <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Alıştırmalar
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>İsim</th>
                    <th>Web Site</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pentester Lab</td>
                    <td><a href="https://pentesterlab.com/exercises/web_for_pentester/course">https://pentesterlab.com/exercises/web_for_pentester/course</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>