<div class="tab-pane rootTabContent" id="stored" role="tabpanel">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs bg-light" role="tablist">
            <li class="nav-item"><a class="storedTab nav-link active" data-toggle="tab" href="#storedDescription" role="tab">Nedir ?</a></li>
            <li class="nav-item"><a class="storedTab nav-link" data-toggle="tab" href="#storedScenario_1" role="tab">Örnek 1</a></li>
            <li class="nav-item"><a class="storedTab nav-link" data-toggle="tab" href="#storedScenario_2" role="tab">Örnek 2</a></li>
            <li class="nav-item"><a class="storedTab nav-link" data-toggle="tab" href="#storedScenario_3" role="tab">Örnek 3</a></li>
            <li class="nav-item"><a class="storedTab nav-link" data-toggle="tab" href="#storedScenario_4" role="tab">Örnek 4</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane storedTabContent active" id="storedDescription">
                Stored XSS kalıcı XSS'tir
            </div>
            @* Stored XSS Scenario_1 *@
            <div class="tab-pane storedTabContent" id="storedScenario_1">
                <div class="card">
                    <div class="card-header with-border bg-info">Yorum Gönder</div>
                    <form action="#" onsubmit="sendComment(); return false;" class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" for="storedModalNameSurname">İsim - Soyisim</label>
                                <div class="col-md-3"><input type="text" id="storedModalNameSurname" class="form-control" placeholder="John Wick" required></div>
                                <label class="col-md-1 col-form-label" for="storedModalEmail">Email</label>
                                <div class="col-md-3"><input type="email" id="storedModalEmail" class="form-control" placeholder="example@example.com" required></div>
                                <label class="col-md-2 col-form-label" for="saveDatabase">Veritabanına Kaydet</label>
                                <div class="col-md-1 m-lg-auto"><input id="saveDatabase" type="checkbox" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label" for="storedModalComment">Öneri | Yorum</label>
                                <div class="col-md-6"><textarea id="storedModalComment" class="form-control" rows="3" placeholder="Message..." required></textarea></div>
                                <div id="commentReCaptcha"></div>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <button id="sendCommentButton" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-send"></i> Gönder</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-paint-brush"></i> Sıfırla</button>
                        </div>
                    </form>
                    <script>
                        function sendComment() {

                            if ($('#saveDatabase').is(':checked')) {
                                var success = function (returnData) {
                                        $('#commentList').html(returnData);
                                        devf.Swal("Comment Register", returnData[1].Message, "success", "Close");
                                        grecaptcha.reset(commentReCaptcha);
                                }
                                var form = new FormData();
                                form.append("SXSS_S1_CommentRequest_Name", $('#storedModalNameSurname').val());
                                form.append("SXSS_S1_CommentRequest_Comment", $('#storedModalComment').val());
                                form.append("SXSS_S1_CommentRequest_Email", $('#storedModalEmail').val());
                                form.append("SXSS_S1_CommentRequest_gReCaptcha", grecaptcha.getResponse(commentReCaptcha));
                                devf.AjaxHTMLRequest('POST', form, "html", '/XSS/SXSS_S1_Comment', success, '#sendCommentButton');

                            } else {
                                var newCommentList = $('#commentList').html() +
                                    '<tr>' +
                                    '<td>' + Date.now() + '</td>' +
                                    '<td>' + $('#storedModalNameSurname').val() + '</td>' +
                                    '<td>' + $('#storedModalEmail').val() + '</td>' +
                                    '<td>' + $('#storedModalComment').val() + '</td>' +
                                    '<td>' + Date.now() + '</td>' +
                                    '<td class="text-center"><button type="button" class="btn btn-info" data-toggle="modal" onclick = "showComment(this)"><i class="fa fa-eye"></i></button ></td> ' +
                                    '</tr>';
                                $('#commentList').html(newCommentList);
                            }
                          
                            $('#storedModalNameSurname').val('');
                            $('#storedModalEmail').val('');
                            $('#storedModalComment').val('');
                        };
                        function showComment(that) {
                            var commentListItem = that.parentNode.parentNode.children;
                            $('.modal-title').html(commentListItem[1].innerText + ' - ' + commentListItem[2].innerText);
                            $('.modal-body').html(commentListItem[3].innerText);
                            $('#modal-default').modal('show');
                        }
                    </script>
                </div>
                <div class="card">
                    <div class="card-header bg-light"> Yorum Listesi </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>İsim - Soyisim</th>
                                    <th>Email</th>
                                    <th>Yorum</th>
                                    <th>Tarih</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody id="commentList"></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane storedTabContent" id="storedScenario_2">

            </div>
            <div class="tab-pane storedTabContent" id="storedScenario_3">

            </div>
            <div class="tab-pane storedTabContent" id="storedScenario_4">

            </div>
        </div>
    </div>
</div>