
@{
    ViewBag.Title = "AuthorityForgottenPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h3> Hoşgeldiniz </h3>
                    <p> Tebrikler, bu sayfaya ulaştıysanız /BrokenAccessController/AuthorityForgottenPage methodunun</p>
                    <p>Giriş Koruması Filtresinin <code class="h4">[Authorize]</code> olmadığına bakınız!</p>
                    <!-- Flag:DevF_LABS_{Hşşt,ß€ Rel@x} -->
                </div>
            </div>
        </div>
    </div>
</main>