<div class="tab-pane rootTabContent" id="sensitivedataexposureSource" role="tabpanel">
    <div class="card">
        <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Kaynaklar
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>İsim</th>
                    <th>Web Site</th>
                    <th>Yazar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>OWASP</td>
                    <td><a href="https://www.owasp.org/index.php/Top_10-2017_A3-Sensitive_Data_Exposure" target="_blank">https://www.owasp.org/index.php/Top_10-2017_A3-Sensitive_Data_Exposure</a></td>
                    <td><a href="https://www.owasp.org/index.php/" target="_blank">OWASP</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>MEDIUM</td>
                    <td><a href="https://medium.com/@("@")BreezeTelecom/sensitive-data-exposure-vulnerability-causes-and-prevention-4c86a19df70d" target="_blank">https://medium.com/@("@")BreezeTelecom/sensitive-data-exposure-vulnerability-causes-and-prevention-4c86a19df70d</a></td>
                    <td><a href="https://medium.com/@("@")BreezeTelecom/" target="_blank">BreezeTelecom</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Umut Tosun</td>
                    <td><a href="https://umuttosun.com/owasp-top-10/#sensitive-data-exposure" target="_blank">https://umuttosun.com/owasp-top-10/#sensitive-data-exposure</a></td>
                    <td><a href="https://forums.asp.net/members/pprasannak.aspx" target="_blank">Umut Tosun</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>


