<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" target="_blank" href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project#tab=OWASP_Top_10_for_2017_Release_Candidate_2">OWASP TOP 10 <strong>2017</strong></a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" target="_blank" href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project#OWASP_Top_10_for_2013">OWASP TOP 10 <strong>2013</strong></a>
        </li>
        <li class="nav-item px-lg-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><i class="fa fa-bullhorn"></i> Dikkat!</strong> Lütfen sizden istenilen verilere kullandığınız doğru verileri girmeyiniz.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        @Html.Action("OnlineUserCount", "Home")
        <li>
           
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="~/Content/img/avatars/6.jpg" class="img-avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Dil Seçimi</strong>
                </div>
                <a class="dropdown-item" id="enLang" href="javascript:switchLanguage('en','#enLang');"><i class="flag-icon flag-icon-gb h5" title="gb"></i>English</a>
                <a class="dropdown-item" id="trLang" href="javascript:switchLanguage('tr','#trLang');"><i class="flag-icon flag-icon-tr h5" title="tr"></i>Turkish</a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <script>
        function switchLanguage(lang, loadingId) {
            var success = function (returnData) {
                if (returnData.IsSuccess) {
                    location.reload();
                } else {
                    devf.Swal(returnData.ResponseCode + " - Switch Language", returnData.Message, "error", "Close");
                }
            }
            var form = new FormData();
            form.append("lang", lang);
            devf.AjaxHTMLRequest('POST', form, "json", '/Language/SwitchLanguage', success, 'loadingId');
        }
    </script>
</header>
