<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard </a>
            </li>
            <li class="nav-title text-center">OWASP TOP 10 2017</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="/Injection/Index"><i class="fa fa-pencil"></i> A1-Injection</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-user-times"></i> A2-Broken Authentication ...</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Xss/Index"><i class="fa-code fa"></i> A3-Cross-Site Scripting <span class="badge badge-danger">XSS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-ban"></i> A4-Broken Access Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-cogs"></i> A5-Security Misconfiguration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-low-vision"></i> A6-Sensitive Data Exposure</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-clone"></i> A7-Insufficient Attack Protection <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-clone"></i> A8-Cross-Site Request Forgery <span class="badge badge-danger">XSRF</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="icon-pie-chart"></i> A9-Using Components Known ...</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="icon-pie-chart"></i> A10-Underprotected APIs <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-gray-400 text-center" href="https://gitlab.com/bhdryrdm/devf" target="_blank"><i class="fa fa-gitlab"></i> Source Code</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>