<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title text-center">DevF LABS</li>
            <li class="nav-item">
                <a class="nav-link" href="/Project" target="_blank"><i class="fa fa-code-fork"></i> Project </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard </a>
            </li>
            <li class="nav-title text-center">OWASP 2017</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="/Injection/Index"><i class="fa fa-pencil"></i> A1-Injection </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="/Content/comingsoon/index.html"><i class="fa fa-user-times"></i> A2-Broken Authentication </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SensitiveDataExposure/Index"><i class="fa fa-low-vision"></i> A3-Sensitive Data Exposure</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Xee/Index"><i class="fa fa-low-vision"></i> A4-XML External Entities <span class="badge badge-primary">NEW</span> <span class="badge badge-danger">XXE</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BrokenAccess/Index"><i class="fa fa-ban"></i> A5-Broken Access Control <span class="badge badge-purple">MERGED</span><span class="badge badge-red">IDOR</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SecurityMisconfig/Index"><i class="fa fa-cogs"></i> A6-Security Misconfiguration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Xss/Index"><i class="fa fa-code"></i> A7-Cross-Site Scripting <span class="badge badge-danger">XSS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/InsecureDeserial/Index"><i class="fa fa-code"></i> A8-Insecure Deserialization <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/KnownVulnerabilities/Index"><i class="fa fa-bug"></i> A9-Using Components Known Vulnerabilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/InsufficientLog/Index"><i class="fa fa-desktop"></i> A10-Insufficient Logging & Monitoring <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-title text-center">OWASP 2013</li>
            <li class="nav-item">
                <a class="nav-link" href="/Xsrf/Index"><i class="fa fa-code"></i> A8-Cross-Site Request Forgery <span class="badge badge-danger">XSRF</span></a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-gray-400 text-center" href="https://gitlab.com/bhdryrdm/devf" target="_blank"><i class="fa fa-gitlab"></i> Source Code</a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>