@model List<DevF_LABS.Presentation.Helper.SessionUserModel>

<table class="table table-responsive-sm table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>SessionID</th>
            <th>IP Address</th>
            <th>Mobil</th>
            <th>Operating System</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.SessionID
                        
                        @if (user.IsActiveSession)
                        {
                             <span class='badge badge-success'>Active</span>
                        }

                    </td>
                    <td>@user.IPAddress</td>
                    <td>@user.IsMobile</td>
                    <td>@user.OperatingSystem</td>
                </tr>
            }
        }
    </tbody>
</table>
