
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Insecure Deserialization</a></li>
        <li class="breadcrumb-item active">Index</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                @* Client Side Folder Structure *@
                <div class="col-md-2 mb-4">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Insecure Deserialization</a>
                            <ul>
                                <li>
                                    <a href="#">Insecure Deserialization</a>
                                    <ul>
                                        <li> <a href="#insecuredeserialDescription" data-toggle="tab" onclick="activeTabFile('.insecuredeserialTab', '#insecuredeserialDescription', '.rootTab', '#insecuredeserialScenarios')">Nedir ?</a></li>
                                        <li> <a href="#insecuredeserialScenariosProtectionMethod" data-toggle="tab" onclick="activeTabFile('.insecuredeserialTab', '#insecuredeserialScenariosProtectionMethod', '.rootTab', '#insecuredeserialScenarios')">Korunma Yöntemleri</a></li>
                                    </ul>
                                </li>
                                <li><a href="#insecuredeserialSource" onclick="activeTabFile('.rootTab', '#insecuredeserialSource')" data-toggle="tab">Kaynaklar</a> </li>
                                <li><a href="#insecuredeserialFound" onclick="activeTabFile('.rootTab', '#insecuredeserialFound')" data-toggle="tab">Bulunan Insecure Deserialization</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function activeTabFile(destinationTab, destinationTabContent, parentTab, parentTabContent, grandParent, grandParentContent) {

                            if (parentTab != '' && !$(parentTabContent).hasClass('active')) {
                                // Aktif olan parent tab ve contenti silinir
                                $(parentTab).removeClass('active');
                                $(parentTab + 'Content').removeClass('active');
                                //Aktif olması istenen parent tab ve contenti eklenir
                                $($('li').find('a[href$="' + parentTabContent + '"]')[0]).addClass('active');
                                $(parentTabContent).addClass('active');
                            }

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            //Aktif olması istenen tab ve content aktif edilir
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                    </script>
                </div>
                @* Client Side Content *@
                <div class="col-md-10" id="insecuredeserialPart">
                    <ul class="nav nav-tabs bg-light" role="tablist">
                        <li class="nav-item"><a class="rootTab nav-link active" data-toggle="tab" href="#insecuredeserialScenarios" role="tab" aria-controls="insecuredeserialPart">Insecure Deserialization</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#insecuredeserialSource" role="tab" aria-controls="source">Kaynaklar</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#insecuredeserialFound" role="tab" aria-controls="found">Bulunan Insecure Deserialization</a></li>
                    </ul>

                    <div class="tab-content" role="tabpanel">
                        <div class="tab-pane rootTabContent active" id="insecuredeserialScenarios">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs bg-light" role="tablist">
                                    <li class="nav-item"><a class="insecuredeserialTab nav-link active" data-toggle="tab" href="#insecuredeserialDescription" role="tab">Nedir ?</a></li>
                                    <li class="nav-item"><a class="insecuredeserialTab nav-link" data-toggle="tab" href="#insecuredeserialScenariosProtectionMethod" role="tab">Korunma Yöntemleri</a></li>
                                </ul>
                                <div class="tab-content">
                                    @* securitymisconfig Description *@
                                    <div class="tab-pane insecuredeserialTabContent active" id="insecuredeserialDescription">
                                        <p class="mt-2">Kullanıcıdan gelen verilerin kontrol edilmemesi sonucu ortaya çıkan bir zafiyet türüdür.</p>
                                        <p class="mt-2">Güvenilmeyen, zararlı verilerin deserialization'ından kaynaklıdır.</p>
                                        <p class="mt-2">Burada deserialization dosyadan, veritabanından, soketten vs. gelen serileştirilişmiş verinin bir nesneye dönüştürülmesi demektir.</p>
                                        
                                    </div>
                                    @* Korunma Yöntemleri ? *@
                                    <div class="tab-pane insecuredeserialTabContent" id="insecuredeserialScenariosProtectionMethod">
                                        <b> Yapılması Gerekenler </b> <i class="fa fa-shield"></i>
                                        <ul style="font-size:12px;">
                                            <li class="mt-2"> Kullanıcıdan gelen verilerin mutlaka kontrol edilmesi gerekmektedir. </li>
                                            <li class="mt-2"> Nesneler üzerinde dijital imza gibi bütünlük kontrollerini uygulamak gerekir.</li>
                                            <li class="mt-2"> Kod tipik olarak tanımlanabilir bir sınıf kütüphanesi beklediğinden nesne oluşturulmadan önce seri hale getirme sırasında strict type constraint'ler uygulanmalıdır.</li>
                                            <li class="mt-2"> Ters-serileştiren(deserialization) sunuculardan gelen-giden ağ bağlantılarının izlenmesi ya da kısıtlanmsaı gerekir.</li>
                                        </ul>
                                        <b> Unutulmaması Gerekenler</b> <i class="fa fa-bullhorn"></i>
                                        <ul class="mt-2">
                                            <li> Zafiyetin sonucunda Denial of Service(DoS) ve remote code execution ataklarına sebep olabiliyor. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/InsecureDeserial/_InsecureDeserialSourceWebSites.cshtml")
                        @Html.Partial("~/Views/InsecureDeserial/_FoundInsecureDeserial.cshtml")
                    </div>
                </div>
                @* Server Side Folder Structure *@
                <div class="col-md-2 mb-4 mt-5">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Server Code</a>
                            <ul>
                                <li>
                                    <a href="#">ASP.NET MVC</a>
                                    <ul>
                                        <li>
                                            <a href="#">Controllers</a>
                                            <ul>
                                                <li><a href="#baseController" onclick="serverSideTab('.serverSideTab','#baseController')" data-toggle="tab">BaseController</a> </li>
                                                <li><a href="#securitymisconfigController" onclick="serverSideTab('.serverSideTab','#securitymisconfigController')" data-toggle="tab">SecMisconfigController</a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active d-block');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideAllTabClose(destinationTabContent) {
                            $('#serverSide').css('display', 'none');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');
                        };

                        function closeTab(destinationTabContent) {
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).removeClass('active d-block');
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('d-none');
                        }
                    </script>
                </div>
                @* Server Side Github Gist Content *@
                <div class="col-md-10 mt-5" id="serverSide" style="display:none">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#baseController" role="tab">
                                    BaseController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#baseController')"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#securitymisconfigController" role="tab">
                                    securitymisconfigController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#securitymisconfigController')"></i>
                                </a>
                            </li>
                            <li class="nav-item pull-right"><button type="button" class="btn btn-dark" onclick="serverSideAllTabClose('.serverSideTab')"> <i class="icon-close"></i></button></li>
                        </ul>
                        <div class="tab-content" role="tabpanel">
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Controller/BaseController.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

