<div class="tab-pane serverSideTab" id="xssController">
    <pre>
    <code class="language-csharp">
        [HttpPost] // Method Tipi POST olacaktır
        public ActionResult RXSS_S3_Login(RXSS_S3_LoginRequest request) // RXSS_S3_LoginRequest modelinden bir request nesnesi
        {
            RXSS_S3_UserListResponse response = new RXSS_S3_UserListResponse();  // RXSS_S3_UserListResponse modelinden bir response nesnesi 
            
            /* Gönderilen bilgiler Veritabanından sorgulanır */
            using (var dbContext = new MSSQL_EF_CF_Context())
            {
                XSS_User user = dbContext.XSS_User.Where(x => x.Email == request.RXSS_S3_LoginRequest_Email && x.Password == request.RXSS_S3_LoginRequest_Password).FirstOrDefault();
                if(user != null)
                {
                    response.LoginUser = user;
                    response.UserList = dbContext.XSS_User.ToList();
                }
            }

            return PartialView("~/Views/Xss/ReflectedXss/_UserList.cshtml", response); // response nesnesi PartialView ile dönülür
        }

        [HttpPost] // Method Tipi POST olacaktır
        public ActionResult RXSS_S3_Register(RXSS_S3_RegisterRequest request) // RXSS_S3_RegisterRequest modelinden bir request nesnesi
        {
            /* Gönderilmiş olan request Veritabanına kayıt edilmek üzere bir Veritabanı modeline aktarılır */
            XSS_User user = new XSS_User
            {
                Email = request.RXSS_S3_RegisterRequest_Email,
                Password = request.RXSS_S3_RegisterRequest_Password,
                UserName = request.RXSS_S3_RegisterRequest_UserName,
                UserSurname = request.RXSS_S3_RegisterRequest_UserSurname,
                UserRole = "User",
                CreatedTime = DateTime.Now,
                UpdatedTime = DateTime.Now
            };

            RXSS_S3_UserListResponse response = new RXSS_S3_UserListResponse(); // RXSS_S3_UserListResponse modelinden bir response nesnesi

            /* Veritabanı için oluşturulan Veritabanı modeli kayıt edilir */
            using (var dbContext = new MSSQL_EF_CF_Context())
            {
                dbContext.XSS_User.Add(user);
                dbContext.SaveChanges();
                response.UserList = dbContext.XSS_User.ToList();
                response.LoginUser = user; // Giriş yapan  kullanıcı 
            }

            return PartialView("~/Views/Xss/ReflectedXss/_UserList.cshtml", response); // response nesnesi PartialView ile dönülür
        }

        [HttpPost] // Method Tipi POST olacaktır
        public ActionResult RXSS_S3_Delete(int userID) // Silinecek Kullanıcı ID
        {
            RXSS_S3_UserListResponse response = new RXSS_S3_UserListResponse(); // RXSS_S3_UserListResponse modelinden bir response nesnesi
            using (var dbContext = new MSSQL_EF_CF_Context())
            {
                var user = dbContext.XSS_User.Where(x => x.UserID == userID).FirstOrDefault(); // Kullanıcı veritabanında sorgulanır
                if (user != null && (user.Email != "admin@admin.com" || user.Email != "demo@admin.com")) // Kullanıcı varlığı ve silinmeye karşı korunacak Kullanıcılar
                {
                    dbContext.XSS_User.Remove(user);
                    response.UserList = dbContext.XSS_User.ToList();
                    response.Message = $"{userID}'ye sahip kullanıcı silindi!";
                }
            }

            return PartialView("~/Views/Xss/ReflectedXss/_UserList.cshtml", response); // response nesnesi PartialView ile dönülür
        }

        </code>
    </pre>
</div>