

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Using Components Known Vulnerabilities</a></li>
        <li class="breadcrumb-item active">Index</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                @* Client Side Folder Structure *@
                <div class="col-md-2 mb-4">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Using Components Known Vulnerabilities</a>
                            <ul>
                                <li>
                                    <a href="#">Using Components Known Vulnerabilities</a>
                                    <ul>
                                        <li> <a href="#knownvulnerabilitiesDescription" data-toggle="tab" onclick="activeTabFile('.knownvulnerabilitiesTab', '#knownvulnerabilitiesDescription', '.rootTab', '#knownvulnerabilitiesScenarios')">Nedir ?</a></li>
                                        <li> <a href="#knownvulnerabilitiesScenariosProtectionMethod" data-toggle="tab" onclick="activeTabFile('.knownvulnerabilitiesTab', '#knownvulnerabilitiesScenariosProtectionMethod', '.rootTab', '#knownvulnerabilitiesScenarios')">Korunma Yöntemleri</a></li>
                                    </ul>
                                </li>
                                <li><a href="#knownvulnerabilitiesSource" onclick="activeTabFile('.rootTab', '#knownvulnerabilitiesSource')" data-toggle="tab">Kaynaklar</a> </li>
                                <li><a href="#knownvulnerabilitiesFound" onclick="activeTabFile('.rootTab', '#knownvulnerabilitiesFound')" data-toggle="tab">Bulunan Using Components Known Vulnerabilities</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function activeTabFile(destinationTab, destinationTabContent, parentTab, parentTabContent, grandParent, grandParentContent) {

                            if (parentTab != '' && !$(parentTabContent).hasClass('active')) {
                                // Aktif olan parent tab ve contenti silinir
                                $(parentTab).removeClass('active');
                                $(parentTab + 'Content').removeClass('active');
                                //Aktif olması istenen parent tab ve contenti eklenir
                                $($('li').find('a[href$="' + parentTabContent + '"]')[0]).addClass('active');
                                $(parentTabContent).addClass('active');
                            }

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            //Aktif olması istenen tab ve content aktif edilir
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                    </script>
                </div>
                @* Client Side Content *@
                <div class="col-md-10" id="knownvulnerabilitiesPart">
                    <ul class="nav nav-tabs bg-light" role="tablist">
                        <li class="nav-item"><a class="rootTab nav-link active" data-toggle="tab" href="#knownvulnerabilitiesScenarios" role="tab" aria-controls="knownvulnerabilitiesPart">Using Components Known Vulnerabilities</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#knownvulnerabilitiesSource" role="tab" aria-controls="source">Kaynaklar</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#knownvulnerabilitiesFound" role="tab" aria-controls="found">Bulunan Using Components Known Vulnerabilities</a></li>
                    </ul>

                    <div class="tab-content" role="tabpanel">
                        <div class="tab-pane rootTabContent active" id="knownvulnerabilitiesScenarios">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs bg-light" role="tablist">
                                    <li class="nav-item"><a class="knownvulnerabilitiesTab nav-link active" data-toggle="tab" href="#knownvulnerabilitiesDescription" role="tab">Nedir ?</a></li>
                                    <li class="nav-item"><a class="knownvulnerabilitiesTab nav-link" data-toggle="tab" href="#knownvulnerabilitiesScenariosProtectionMethod" role="tab">Korunma Yöntemleri</a></li>
                                </ul>
                                <div class="tab-content">
                                    @* securitymisconfig Description *@
                                    <div class="tab-pane knownvulnerabilitiesTabContent active" id="knownvulnerabilitiesDescription">
                                        <p class="mt-2">Sistemler, servisler ve uygulamaların bilinen exploitleri olan sürümlerinin kullanılmasıyla ortaya çıkan bir zafiyet türüdür.</p>
                                        <p class="mt-2">Herhangi bir saldırgan bu sürümlerden birini bulunca, bilinen exploitleri kullanarak uygulamayı ele geçirebilir.</p>
                                        <p class="mt-2">Bulunması çok zor olduğundan en yaygın güvenlik açıklarından birisidir.</p>

                                    </div>
                                    @* Korunma Yöntemleri ? *@
                                    <div class="tab-pane knownvulnerabilitiesTabContent" id="knownvulnerabilitiesScenariosProtectionMethod">
                                        <b> Yapılması Gerekenler </b> <i class="fa fa-shield"></i>
                                        <ul style="font-size:12px;">
                                            <li class="mt-2"> İşletim sistemini, servisleri bu sistemde bulunan uygulamaların tümünü güncel tutmak gerekir. </li>
                                            <li class="mt-2"> Gereksiz ve kullanılmayan uygulamaların kaldırılması gerekir.</li>
                                            <li class="mt-2"> Güncel olan zafiyetler düzenli olarak kontrol edilerek önlem olarak buna uygun güncellemeler gerçekleştrilmelidir.</li>
                                            <li class="mt-2"> Kullanılmayan bileşenler, dosyalar ve belgeler kaldırılmalıdır.</li>
                                        </ul>
                                        <b> Unutulmaması Gerekenler</b> <i class="fa fa-bullhorn"></i>
                                        <ul class="mt-2">
                                            <li> Yazılımınız desteklenmiyor ya da güncel değilse bu zafiyete karşı savunmasız olabilirsiniz.</li>
                                            <li> Yazılım geliştiricileri güncellenmiş, yükseltilmiş veya yamalanmış kütüphanelerin uyumluluğunu test etmezse bu zafiyet ortaya çıkabilir.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/KnownVulnerabilities/_KnownVulnerabilitiesSourceWebSites.cshtml")
                        @Html.Partial("~/Views/KnownVulnerabilities/_FoundKnownVulnerabilities.cshtml")
                    </div>
                </div>
                @* Server Side Folder Structure *@
                <div class="col-md-2 mb-4 mt-5">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Server Code</a>
                            <ul>
                                <li>
                                    <a href="#">ASP.NET MVC</a>
                                    <ul>
                                        <li>
                                            <a href="#">Controllers</a>
                                            <ul>
                                                <li><a href="#baseController" onclick="serverSideTab('.serverSideTab','#baseController')" data-toggle="tab">BaseController</a> </li>
                                                <li><a href="#securitymisconfigController" onclick="serverSideTab('.serverSideTab','#securitymisconfigController')" data-toggle="tab">SecMisconfigController</a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active d-block');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideAllTabClose(destinationTabContent) {
                            $('#serverSide').css('display', 'none');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');
                        };

                        function closeTab(destinationTabContent) {
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).removeClass('active d-block');
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('d-none');
                        }
                    </script>
                </div>
                @* Server Side Github Gist Content *@
                <div class="col-md-10 mt-5" id="serverSide" style="display:none">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#baseController" role="tab">
                                    BaseController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#baseController')"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#securitymisconfigController" role="tab">
                                    securitymisconfigController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#securitymisconfigController')"></i>
                                </a>
                            </li>
                            <li class="nav-item pull-right"><button type="button" class="btn btn-dark" onclick="serverSideAllTabClose('.serverSideTab')"> <i class="icon-close"></i></button></li>
                        </ul>
                        <div class="tab-content" role="tabpanel">
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Controller/BaseController.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



