<div class="tab-pane serverSideTab" id="rxss_s3_registerRequest">
    <pre>
        <code class="language-csharp">
            namespace OWASP.Models.Xss.ReflectedXss
            {
                public class RXSS_S3_RegisterRequest
                {
                    public string RXSS_S3_RegisterRequest_UserName { get; set; }
                    public string RXSS_S3_RegisterRequest_UserSurname { get; set; }
                    public string RXSS_S3_RegisterRequest_Email { get; set; }
                    public string RXSS_S3_RegisterRequest_Password { get; set; }
                }
            }
        </code>
    </pre>
</div>
