<section class="tab-pane rootTabContent" id="xssFound" role="tabpanel">
    <div class="card">
        <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Bulunan XSS Zafiyetleri
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>XSS Türü</th>
                    <th><i class="icon-globe icons"></i> XSS Bulunan Site </th>
                    <th><i class="icon-picture"></i> Zafiyet Görselleri</th>
                    <th><i class="fa fa-code"></i> Kullanılan Dork</th>
                    <th><i class="fa fa-bullhorn"></i> Bildirildi</th>
                    <th><i class="fa fa-wrench"></i> Giderildi</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Stored XSS</td>
                    <td><a href="https://www.dunya.com" target="_blank">https://www.dunya.com</a></td>
                    <td><a href="~/Content/img/xssimage/Screenshot_1.png" target="_blank"><i class="icon-picture icons font-2xl"></i></a></td>
                    <td><pre><code>&lt;script&gt;alert('bhdryrdm')&lt;/script&gt;</code></pre></td>
                    <td style="color:green;text-align:center;"><i class="icon-like icons font-2xl d-block"></i></td>
                    <td style="color:red;text-align:center;"><i class="icon-dislike icons font-2xl d-block"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Reflected XSS</td>
                    <td><a href="http://www.eca.com.tr/arama" target="_blank">http://www.eca.com.tr/arama</a></td>
                    <td><a href="~/Content/img/xssimage/Screenshot_2.png" target="_blank"><i class="icon-picture icons font-2xl"></i></a></td>
                    <td><pre><code>&lt;script&gt;alert('bhdryrdm')&lt;/script&gt;</code></pre></td>
                    <td style="color:green;text-align:center;"><i class="icon-like icons font-2xl d-block"></i></td>
                    <td style="color:red;text-align:center;"><i class="icon-dislike icons font-2xl d-block"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Stored XSS</td>
                    <td><a href="https://s148-en.ogame.gameforge.com/game/index.php?page=alliance" target="_blank">https://s148-en.ogame.gameforge.com/game/index.php?page=alliance</a></td>
                    <td>
                        <a href="~/Content/img/xssimage/OGAME_XSS4.jpg" target="_blank"><i class="icon-picture icons font-2xl"></i></a>
                        <a href="~/Content/img/xssimage/OGAME_XSS5.jpg" target="_blank"><i class="icon-picture icons font-2xl"></i></a>
                        <a href="~/Content/img/xssimage/OGAME_XSS6.jpg" target="_blank"><i class="icon-picture icons font-2xl"></i></a>
                    </td>
                    <td><pre><code>&lt;script&gt;alert(1)&lt;/script&gt;</code></pre></td>
                    <td style="color:green;text-align:center;"><i class="icon-like icons font-2xl d-block"></i></td>
                    <td style="color:green;text-align:center;"><i class="icon-like icons font-2xl d-block"></i></td>
                </tr>
            </table>
        </div>
    </div>
</section>