<div class="tab-pane rootTabContent" id="xssSource" role="tabpanel">
    <div class="card">
        <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Kaynaklar
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>İsim</th>
                    <th>Web Site</th>
                    <th>Yazar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Acunetix</td>
                    <td><a href="https://www.acunetix.com/websitesecurity/cross-site-scripting/">https://www.acunetix.com/websitesecurity/cross-site-scripting/</a></td>
                    <td><a href="https://www.acunetix.com">Acunetix</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Netsparker</td>
                    <td><a href="https://www.netsparker.com/blog/web-security/cross-site-scripting-xss">https://www.netsparker.com/blog/web-security/cross-site-scripting-xss/</a></td>
                    <td><a href="https://www.netsparker.com">Netsparker</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ömer Çıtak</td>
                    <td><a href="http://omercitak.com/xss-zafiyeti-ile-oturum-calma-session-hijacking/">http://omercitak.com/xss-zafiyeti-ile-oturum-calma-session-hijacking/</a></td>
                    <td><a href="http://omercitak.com/cv/">Ömer Çıtak</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>OWASP</td>
                    <td><a href="https://www.owasp.org/index.php/Session_hijacking_attack">https://www.owasp.org/index.php/Session_hijacking_attack</a></td>
                    <td><a href="https://www.owasp.org/index.php">OWASP</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Gökhan Şengün</td>
                    <td><a href="https://medium.com/&#64;gokhansengun/http-cookie-nedir-hangi-ama%C3%A7larla-ve-nas%C4%B1l-kullan%C4%B1l%C4%B1r-5e9b9141fb7b">https://medium.com/@@gokhansengun/http-cookie-nedir-hangi-ama%C3%A7larla-ve-nas%C4%B1l-kullan%C4%B1l%C4%B1r-5e9b9141fb7b</a></td>
                    <td><a href="https://medium.com/&#64;gokhansengun">Gökhan Şengün</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
